{% extends 'base/base.html' %}

{% block titulo %}
    Mi Proyecto Personal
{% endblock %}

{% block nombre %}
    Página principal
{% endblock %}

{% block contenido %}
    <div class="whiteblock">
        <br/>
        <h4>
            Diario de trabajo: OBJETIVO A
        </h4>
        <br/>
        <h5>
            Objetivo de aprendizaje de mi proyecto
        </h5>
        <br/>
        <h6>
            Las enfermedades neuromusculares son el grupo de patologías
            que afectan gravemente a la fuerza muscular. A día de hoy no
            existe una cura a largo plazo, lo mejor que se puede hacer es
            mejorar la calidad de vida de los pacientes con medicamentos
            y como son personas muy dependientes, están siempre acompañadas. Al leer acerca de estas enfermedades, entendí la necesidad de los pacientes de ser asistidos y para este proyecto, elegí proporcionarles la ayuda que necesitan en el día a día.
            <br/> <br/>            
            Para hacer posible esto, supe que aplicar la ciencia era la clave
            y que debía encontrar una solución innovadora para hacer frente a
            las limitaciones domésticas de los pacientes. También pensé en la
            importancia de la concienciación, por lo que yo debía investigarlas
            y compartir dicha información. Así pues, decidí que mi objetivo de
            aprendizaje sería aprender acerca de las enfermedades neuromusculares 
            y aprender a aplicar la ciencia para mejorar las condiciones de vida de los pacientes.
        </h6>
        <br/>
        <h5>
            Producto final del proyecto
        </h5>
        <br/>
        <h6>
            Para lograrlo, decidí combinar mi interés por las ciencias y la
            electrónica con el objetivo de aprendizaje. Y pensé en diseñar,
            construir y programar un robot como solución para el problema
            presentado. El robot proporcionaría la asistencia necesaria y evitaría
            que el paciente estuviera solo. También aplicaría su movilidad para
            reemplazar a la del enfermo y realizar tareas simples por él. Al estar
            conectado a internet, los familiares del paciente podrían acceder a la
            información y ser informados en caso de peligro.
            <br/> <br/>
            El robot estará protegido por una carcasa de PLA impresa en 3D. Tras
            investigar acerca de las mejores ruedas, opté por ponerle dos ruedas
            con motores y una tercera rueda multidireccional en lugar de cuatro con
            motores o de las ruedas omnidireccionales. Tendrá dos brazos para poder
            agarrar objetos. Para que pudiera reconocer el ambiente, pensé en ponerle
            una cabeza doblemente articulada con una cámara y un sensor de distancia.
            Y tendrá una pantalla LED bajo la cabeza.
        </h6>
        <br/>
    </div>
{% endblock %}